# ==========================================
# BunkerSC ENVIRONMENT VARIBLES
# ==========================================

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

ADMIN_PASSCODE=
# JWT Secret
ADMIN_SESSION_SECRET=

SUPABASE_SERVICE_ROLE_KEY=